<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Spring-Shopsite</title>
  <link href="style.css" rel="stylesheet">
</head>

<body>
  <p>新規商品登録</p>
  <div class="form-container"> 
    <form th:action="@{/admin/products}" th:object="${productForm}" method="post">
      商品ID：<input type="text" th:field="*{product_id}">
    <BR />
      商品名：<input type="text" th:field="*{name}">
    <BR />
      説明 ：<input type="text" th:field="*{description}">
    <BR />
      価格：<input type="text" th:field="*{price}">
    <BR />
      在庫：<input type="text" th:field="*{stock}">
    <BR />
      イメージ：<input type="url" th:field="*{image_URL}">
    <BR />

    おすすめ：
    <select th:field="*{is_recommended}" id="is_recommended" class="form-select me-2">
      <option value="">選択してください</option>
      <option value="true">する</option>
      <option value="false">しない</option>
    </select>
  <br />

    カテゴリ：
    <select th:field="*{category}" id="category-select" class="form-select me-2">
      <option value="">選択してください</option>
      <option value="デスク周り">デスク周り</option>
      <option value="インテリア・雑貨">インテリア・雑貨</option>
      <option value="家具・寝具">家具・寝具</option>
      <option value="キッチン用品">キッチン用品</option>
      <option value="バッグ・トラベル">バッグ・トラベル</option>
    </select>
  <br />

    素材：<input type="text" th:field="*{material}">
    <BR />

    <input type="submit" value="登録"/>
    </form>
  </div> 

  <!-- 登録後resultにページ遷移させたい -->
</body>
</html>