.product-card {
    height: 100%;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.cart-badge {
    position: relative;
    top: -8px;
    right: 5px;
}

/* 検索フォームの調整（任意） */
#search-input {
    min-width: 200px; /* 必要に応じて幅を調整 */
}

.name_input{
    width: 300px;
}

.name_input_wrapper{
    width: 500px;
    height: 100px;
    display:flex;
    margin: 10px 20px 30px 40px;
    padding: 30px;
}
